//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 21 21:28:41 2025
//! **************************************************************************

SCHEMATIC START;
COMP "MDC" LOCATE = SITE "P9" LEVEL 1;
COMP "MDIO" LOCATE = SITE "U5" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "i_reset_n" LOCATE = SITE "V4" LEVEL 1;
COMP "o_phy_reset_n" LOCATE = SITE "T17" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "i_clk_50mhz" LOCATE = SITE "C9" LEVEL 1;
COMP "MII_RXD<0>" LOCATE = SITE "V8" LEVEL 1;
COMP "MII_RXD<1>" LOCATE = SITE "T11" LEVEL 1;
COMP "MII_RXD<2>" LOCATE = SITE "U11" LEVEL 1;
COMP "MII_RXD<3>" LOCATE = SITE "V14" LEVEL 1;
COMP "MII_TXD<0>" LOCATE = SITE "R11" LEVEL 1;
COMP "MII_TXD<1>" LOCATE = SITE "T15" LEVEL 1;
COMP "MII_TXD<2>" LOCATE = SITE "R5" LEVEL 1;
COMP "MII_TXD<3>" LOCATE = SITE "T5" LEVEL 1;
COMP "MII_RX_CLK" LOCATE = SITE "V3" LEVEL 1;
PIN MII_RX_CLK_pin<0> = BEL "MII_RX_CLK" PINNAME PAD;
PIN "MII_RX_CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "MII_TX_CLK" LOCATE = SITE "T7" LEVEL 1;
PIN MII_TX_CLK_pin<0> = BEL "MII_TX_CLK" PINNAME PAD;
PIN "MII_TX_CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "MII_RX_ER" LOCATE = SITE "U14" LEVEL 1;
COMP "MII_RX_DV" LOCATE = SITE "V2" LEVEL 1;
COMP "MII_TX_EN" LOCATE = SITE "P15" LEVEL 1;
NET "MII_RX_CLK_BUFGP/IBUFG" BEL "MII_RX_CLK_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

